*{
    text-decoration: none;
}
main {
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.view-switch {
    display: none;
}

section.members {
    transition: all 0.9s ease;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.founder{
    color: #0891b2;
    font-size: 1.5rem;
}
.year{
    padding-top: 2rem;
    color: var(--primary);
}
.line-break{
    height: 8px;
    width: 100%;
    margin-top: 8px;
    background-color: var(--primary);
}

article {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    height: 100%;
    width: 300px;
    margin-top: .5rem;
    border-radius: 0.75rem;
    background-color: var(--primary);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}


article .image {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0 1rem 1rem;
    text-align: center;
    width: 100%;
}

.about .name {
    color: var(--white);
    font-size: 19px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.about .stack {
    color: #ccc;
}


.country {
    color: #0891b2;
    font-size: 19px;
    margin: 1rem 0 2rem 0;
}

.social-icons {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.about i {
    color: #0891b2;
    font-size: 1.5rem;
    font-weight: 800;
}
.btn {
    background-color: var(--primary);
    color: var(--white);
    position: relative;
    text-transform: capitalize;
    opacity: 1;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 1rem;
}
.btn:hover {
    opacity: 0.8;
}
.vision-item{
    list-style: square;
}
@media (max-width: 320px) {
    article {
        width: 280px;
    }


    article .image {
        height: 100%;
        width: 100%;
        border-radius: 0.75rem;
    }

    article img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    article .about {
        padding: 3rem 0 1rem 1rem;
        text-align: center;
        width: 100%;
    }

    .about .name {
        color: var(--white);
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .about .stack {
        color: #ccc;
    }


    .country {
        font-size: 16px;
        margin: 1rem 0 1rem 0;
    }

    .social-icons {
        margin-top: 1rem;
    }

    .about i {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 18px;
        font-weight: 500;
        margin-top: 1rem;
    }
}
@media (max-width: 280px) {
    article {
        width: 260px;
        margin-left: -15px;
    }


    article .image {
        height: 100%;
        width: 100%;
        border-radius: 0.75rem;
    }

    article img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    article .about {
        padding: 3rem 0 1rem 1rem;
        text-align: center;
        width: 100%;
    }

    .about .name {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .about .stack {
        color: #ccc;
    }


    .country {
        font-size: 16px;
        margin: 1rem 0 1rem 0;
    }

    .social-icons {
        margin-top: 1rem;
    }

    .about i {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 18px;
        font-weight: 500;
        margin-top: 1rem;
    }
}
@media (min-width: 1150px) {
    main {
        padding-top: 6rem;
        padding-bottom: 5rem;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .content-item{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .item{
        justify-content: flex-start;
        align-items: center;
    }
    .founder{
        padding-right: 6px;
    }
    .year{
        font-size: 1.3rem;
        color: var(--primary);
    }
    .description{
        font-size: 1.2rem;
    }
}
