main {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.view-switch {
  display: none;
}
section.members {
  transition: all 0.9s ease;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  margin-top: 3rem;
  border-radius: 0.75rem;
  background-color: #64c8ee;
  background-color: var(--primary);
}

article .image {
  height: 100%;
  /* width: 192px; */
  width: 100%;
  border-radius: 0.75rem;
}

article img {
  width: 100%;
  /* height: 100%; */
  height: 300px;
  object-fit: cover;
}

article .about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0 1rem 1rem;
  text-align: center;
  width: 100%;
}

.about .name {
  color: var(--white);
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.about .stack {
  color: #ccc;
}

.country {
  color: #0891b2;
  font-size: 19px;
  margin: 1rem 0 2rem 0;
}

.social-icons {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.about i {
  color: #0891b2;
  font-size: 1.5rem;
  font-weight: 800;
}

@media (min-width: 1150px) {
  main {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  /* VIEW SWTICH */

  .view-switch {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 2rem;
    color: var(--primary);
    cursor: pointer;
  }

  .members.two-column article {
    flex-direction: row;
    width: 500px;
    height: 200px;
    flex-basis: calc(46% - 0px);
  }

  .members.two-column article .image {
    /* width: 192px; */
    width: 38%;
  }

  .members.two-column article img {
    height: 100%;
  }

  .members.two-column article .about {
    width: 62%;
  }

  .members.two-column article .country {
    margin: 0;
  }

  .about .name {
    font-size: 16px;
  }

  .about i {
    color: #0891b2;
    font-size: 1.3rem;
    font-weight: 800;
  }

  .social-icons {
    margin-top: 0;
  }
}
