@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary: #481788;
  --secondary-color: #;
  --dark: #333333;
  --white: #ffffff;
  --grey: #666666;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  height: 56px;
  padding: 0 40px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-layout {
  padding: 1.5rem;
  transition: all 0.9s ease;
}

.brand a {
  text-decoration: none;
  color: var(--primary);
}

.brand a:focus {
  color: var(--primary);
}

@media (min-width: 900px) {
  .main-layout {
    padding: 25px 150px;
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
  }
}
